<!DOCTYPE html>
<html>
  <head>
    <title>HomeTown</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!--STYLES-->
    <!--STYLES END-->
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
  </head>

  <body ng-app="HomeTown" ng-controller="MainController" ng-cloak>

    <div class="navicon-container">
      <i class="fa fa-bars"></i>
    </div>

    <div class="container hometown-main">
      <div class="row widget-row">
        <div class="whiteboard widget col-md-4">
          <h5>Whiteboard</h5>
          <div>
          </div>
        </div>
        <div class="local-deals container widget col-md-8">
          <h5>Best of the Neighborhood</h5>
          <div class="row deal-row">
            <div class="deal deal-northwest col-md-6">
              <span>NorthWest</span>
            </div>
            <div class="deal deal-northeast col-md-6">
              <span>NorthEast</span>
            </div>
          </div>
          <div class="row deal-row">
            <div class="deal deal-southwest col-md-6">
              <span>SouthWest</span>
            </div>
            <div class="deal deal-southeast col-md-6">
              <span>SouthEast</span>
            </div>
            </div>
        </div>
      </div>
      <div class="row widget-row">
        <div class="live-music widget col-md-4">
          <h5>Live Music</h5>
          <table>
            <tr ng-repeat="show in showsList">
              <td class="show-day {{show.day}}">
                <span>
                  {{show.day}}
                </span>
              </td>
              <td class="show-summary">
                <span class="show-details">
                  {{show.artist}} | {{show.venue}} | {{show.time}}
                </span>
                <span class="show-tickets">
                  <a href="{{show.ticketURL}}">Tickets</a>
                </span>
              </td>
              <td class="show-image">
                <i class="fa fa-picture-o"></i>
              </td>
            </tr>
          </table>
        </div>
        <div class="adventures widget col-md-4">
          <h5>Adventures</h5>
          <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker idKey="marker.idKey" coords="marker.coords">
            </ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
        <div class="weather widget col-md-4">
          <h5>Philadelphia Weather</h5>
          <table>
            <tr ng-repeat="hour in forecast">
              <td class="weather-hour-time">
                {{hour.time | date:"EEEE 'at' h a"}}
              </td>
              <td class="weather-hour-temperature">
                {{hour.temperature}} &deg;F
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="logo-container">
      <i class="fa fa-home"></i>
      <span>HomeTown</span>
    </div>

    <!--SCRIPTS-->
    <!--SCRIPTS END-->
  </body>
</html>