<!DOCTYPE html>
<html>
  <head>
    <title>HomeTown</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!--STYLES-->
    <!--STYLES END-->
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
  </head>

  <body ng-app="HomeTown" ng-controller="MainController" ng-cloak>

    <ui-gmap-google-map fullscreen-map center='map.center' zoom='map.zoom' options='map.options'>
      <ui-gmap-marker idKey="marker.idKey" coords="marker.coords">
      </ui-gmap-marker>
      <ui-gmap-circle center='c3.center'
                radius='c3.radius'
                fill='c3.fill'
                stroke='c3.stroke'>
      </ui-gmap-circle>
      <ui-gmap-circle center='c2.center'
                radius='c2.radius'
                fill='c2.fill'
                stroke='c2.stroke'>
      </ui-gmap-circle>
      <ui-gmap-circle center='c1.center'
                radius='c1.radius'
                fill='c1.fill'
                stroke='c1.stroke'>
      </ui-gmap-circle>
    </ui-gmap-google-map>
<!--
    <div class="navicon-container">
      <i class="fa fa-bars"></i>
    </div>
-->
<!--
    <div class="toggle-container">
      <table>
        <tr>
          <td class="toggle-cell 5-min-walk">
            <object type="image/svg+xml" data="images/icons/icn-walk.svg" class="icn-walk"></object>
          </td>
          <td>
          </td>
          <td>
          </td>
        </tr>
      </table>
    </div>
-->
    <div class="logo-container">
      <i class="fa fa-home"></i>
      <span>HomeTown</span>
    </div>

    <!--SCRIPTS-->
    <!--SCRIPTS END-->
  </body>
</html>





    <!--OLD
    <div class="container hometown-main">
      <div class="row widget-row">
        <div class="whiteboard widget col-md-4">
          <h5>Whiteboard</h5>
          <div>
          </div>
        </div>
        <div class="local-deals container widget col-md-8">
          <h5>Best of the Neighborhood</h5>
          <div class="row deal-row">
            <div class="deal deal-northwest container col-md-6">
              <div class="deal-details col-md-6">
                <h6 class="deal-title">
                  First Street Steaks
                </h6>
                <p class="deal-tagline">
                  Free Milkshake
                </p>
                <p class="deal-fineprint">
                  w/ purchase of 1 cheesesteak
                </p>
              </div>
              <ui-gmap-google-map center='dealNW.map.center' zoom='dealNW.map.zoom' class="col-md-6">
                <ui-gmap-marker idKey="dealNW.marker.idKey" coords="dealNW.marker.coords">
                </ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
            <div class="deal deal-northeast container col-md-6">
              <div class="deal-details col-md-6">
                <h6 class="deal-title">
                  Ekta Indian Cuisine
                </h6>
                <p class="deal-tagline">
                  Free Delivery
                </p>
                <p class="deal-fineprint">
                  with $15 or greater purchase
                </p>
              </div>
              <ui-gmap-google-map center='dealNE.map.center' zoom='dealNE.map.zoom' class="col-md-6">
                <ui-gmap-marker idKey="dealNE.marker.idKey" coords="dealNE.marker.coords">
                </ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
          </div>
          <div class="row deal-row">
            <div class="container deal deal-southwest col-md-6">
              <div class="deal-details col-md-6">
                <h6 class="deal-title">
                  Johnny Brendas
                </h6>
                <p class="deal-tagline">
                  Happy Hour 5-7 pm
                </p>
                <p class="deal-fineprint">
                  1/2 off draughts
                </p>
              </div>
              <ui-gmap-google-map center='dealSW.map.center' zoom='dealSW.map.zoom' class="col-md-6">
                <ui-gmap-marker idKey="dealSW.marker.idKey" coords="dealSW.marker.coords">
                </ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
            <div class="deal deal-southeast container col-md-6">
              <div class="deal-details col-md-6">
                <h6 class="deal-title">
                  PYT
                </h6>
                <p class="deal-tagline">
                  Happy Hour 6-8 pm
                </p>
                <p class="deal-fineprint">
                  Also try our famous Dohnut Burger!
                </p>
              </div>
              <ui-gmap-google-map center='dealSE.map.center' zoom='dealSE.map.zoom' class="col-md-6">
                <ui-gmap-marker idKey="dealSE.marker.idKey" coords="dealSE.marker.coords">
                </ui-gmap-marker>
              </ui-gmap-google-map>
            </div>
            </div>
        </div>
      </div>
      <div class="row widget-row">
        <div class="live-music widget col-md-4">
          <h5>Live Music</h5>
          <table>
            <tr ng-repeat="show in showsList">
              <td class="show-day {{show.day}}">
                <span>
                  {{show.day}}
                </span>
              </td>
              <td class="show-summary">
                <span class="show-details">
                  {{show.artist}} | {{show.venue}} | {{show.time}}
                </span>
                <span class="show-tickets">
                  <a href="{{show.ticketURL}}">Tickets</a>
                </span>
              </td>
              <td class="show-image">
                <i class="fa fa-picture-o"></i>
              </td>
            </tr>
          </table>
        </div>
        <div class="adventures widget col-md-4">
          <h5>Adventures</h5>
          <ui-gmap-google-map center='map.center' zoom='map.zoom'>
            <ui-gmap-marker idKey="marker.idKey" coords="marker.coords">
            </ui-gmap-marker>
          </ui-gmap-google-map>
        </div>
        <div class="weather widget col-md-4">
          <h5>Philadelphia Weather</h5>
          <table>
            <tr ng-repeat="hour in forecast">
              <td class="weather-hour-time">
                {{hour.time | date:"EEEE 'at' h a"}}
              </td>
              <td class="weather-hour-temperature">
                {{hour.temperature}} &deg;F
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    -->