@app-color: #3D5AFE;
@accent-color: #37474F;
@heading-color: #FFF3E0;

html, body {
	height: 100%;
    width: 100%;
    margin: 0px;

	.angular-google-map {
		height: 100%;
        width: 100%;
        margin: 0px;
        position: relative;

        .angular-google-map-container {
        	position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
	}

	.navicon-container {
		background-color: lighten(@app-color, 40%);
		border-color: lighten(@app-color, 40%);
		color: @accent-color;
		position: absolute;
		top: 0;
		left: 0;
		font-size: 18px;
		margin-top: 3px;
		margin-left: 6px;
		border-radius: 1px;
		padding: 0 6px;

		z-index: 1000;

		&:hover {
			cursor: pointer;
			color: lighten(@accent-color, 15%);
		}
	}

	.toggle-container {
		height: 50px;
		width: 250px;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 3px;
		margin-right: 6px;
		border-radius: 1px;
		z-index: 1000;
		background-color: #fff;

		.toggle-cell {
			.icn-walk {
				height: 32px;
				width: 32px;
			}

			&.5-min-walk {
				.icn-walk {
					fill: blue;
				}
			}
		}
	}

	.logo-container {
		background-color: lighten(@app-color, 40%);
		border-color: lighten(@app-color, 40%);
		border-radius: 1px;
		position: absolute;
		padding: 3px;
		top: 0;
		left: 0;
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 3px;
		margin-left: 6px;
		z-index: 1000;

		span {
			color: @accent-color;
		}

		i {
			color: @app-color;
		}

		&:hover {
			background-color: lighten(@app-color, 45%);
			cursor: pointer;

			span {
				color: lighten(@accent-color, 15%);
			}

			i {
				color: lighten(@app-color, 15%);
			}
		}
	}
}