@app-color: #D84315;
@accent-color: #37474F;
@heading-color: #FFF3E0;
@grey: #E0E0E0;
@blue: #2196F3;
@green: #66BB6A;
@orange: #FF9800;

html, body {
	height: 100%;
    width: 100%;
    margin: 0px;

	.angular-google-map {
		height: 100%;
        width: 100%;
        margin: 0px;
        position: relative;

        .angular-google-map-container {
        	position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
        }
	}

	/*region map markers and overlays*/
	.gmap-circle {
		display: none;

		&.visible {
			display: inherit;
		}
	}
	/*endregion map markers and overlays*/

	/*region control panel*/

	.icon.marker-circle {
		height: 20px;
	    width: 20px;
	    border: 2px solid;
	    border-radius: 10px;

	    &:hover {
	    	cursor: pointer;
	    	opacity: .7;
	    }

	    &.grey {
	    	background-color: @grey;
	    	border-color: darken(@grey, 15%);
	    }

	    &.blue {
	    	background-color: @blue;
	    	border-color: darken(@blue, 15%);
	    }

	    &.green {
	    	background-color: @green;
	    	border-color: darken(@green, 15%);
	    }

	    &.orange {
	    	background-color: @orange;
	    	border-color: darken(@orange, 15%);
	    }
	}

	.event-panel {
		width: 250px;

		position: absolute;
		bottom: 0;
		left: 0;
		margin-bottom: 3px;
		margin-left: 6px;
		border-radius: 1px;
		z-index: 1001;
		background-color: #fff;

		.panel-headline {
			td {
				text-align: center;
				padding: 5px;
			}
		}

		.event-row {
			td {
				&.first {
					width: 50px;
				}

				&.last {
					width: 200px;
					max-width: 200px;
				}

				&.event-summary {
				    overflow: hidden;
				    text-overflow: ellipsis;
				    white-space: nowrap;
				}
			}
		}

		.no-events-row {
			display: none;

			&.visible {
				display: inherit;
			}
		}
	}

	.control-panel {
		width: 250px;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 3px;
		margin-right: 6px;
		border-radius: 1px;
		z-index: 1000;
		background-color: #fff;

		table {
			.parent-cell {
				padding: 10px 0 10px 20px;

				.icon {
					font-size: 20px;

					&:hover {
						cursor: pointer;
						color: lighten(@accent-color, 15%);
					}
				}
			}
		}

		.control-details {
			border-top: 1px solid #bdbdbd;
			display: none;
			width: 250px;

			&.visible {
				display: block;
			}

			table tr{
				height: 30px;

				&:hover {
					opacity: .8;
					cursor: pointer;
					background-color: #e4e4e4;
				}

				&.selected {
					background-color: #e4e4e4;
				}

				td.first {
					width: 50px;

					.icon {
						margin: auto;
						display: block;
						width: 20px;
						font-size: 20px;
					}
				}

				td.last {
					padding-left: 10px;
    				width: 200px;
				}
			}
		}
	}

	/*endregion control panel*/

	/*region poi manager*/
	.pac-container {
		z-index: 2000 !important;
	}
	/*endregion poi manager*/

	.logo-container {
		background-color: #fff;
		border-color: lighten(@app-color, 40%);
		border-radius: 1px;
		position: absolute;
		padding: 4px;
		top: 0;
		left: 0;
		font-size: 24px;
		font-weight: bold;
		margin-top: 3px;
		margin-left: 6px;
		z-index: 1000;

		span {
			color: @accent-color;
		}

		i {
			color: @accent-color;
		}

		&:hover {
			cursor: pointer;

			span {
				color: lighten(@accent-color, 15%);
			}

			i {
				color: @app-color;
			}
		}
	}
}