<div class="modal-header">
    <h3 class="modal-title">Add Point of Interest</h3>
</div>
<form name="form.poiManager" novalidate ng-submit="addPoi()">
  <div class="modal-body">
    <div class="form-group">
        <label>Name:</label>
        <input type="text" name="name" class="form-control" ng-model="newpoi.name" required>
    </div>
    <div class="form-group">
        <label>Type:</label>
        <select name="type" class="form-control" ng-model="newpoi.type" required>
          <option value="HOME"><i class="fa fa-home"></i>Home</option>
          <option value="SHOPPING"><i class="fa fa-briefcase"></i>Shopping</option>
          <option value="SIGHTS"><i class="fa fa-eye"></i>Sights</option>
        </select>
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea name="description" class="form-control" ng-model="newpoi.description"></textarea>
    </div>
    <div class="form-group">
        <label>Address</label>
        <input id="places-input" type="text" name="place" class="form-control" ng-model="newpoi.place" placeholder="Search for a place" autocomplete="on">
    </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-primary" type="submit" ng-disabled="form.poiManager.$invalid">Add</button>
      <button class="btn btn-warning" ng-click="cancelAddPoi()">Cancel</button>
  </div>
</form>